{% extends 'base2.html' %}
{% block title %} Creando post {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Agregue un post</h1>
    <br/><br/>
    

    <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media}}
    {{ form.as_p}}
    <button class="btn btn-secondary">Postear</button>
    </div>

<script>
    var name = "{{ user.id }}";
    document.getElementById("elder").value
    = name;

</script>
{% else %}


<h4>Tienes que ingresar con un perfil</h4> 
{% endif %}
{% endblock %}


